# ANSWERS

1. (D) All of the above

2. (A) True

3. (D) All of the above

4. (D) Error

5. (C) 3 dimensional

6. (D) 1

7. (C) ix

11. Write a Pandas program to create and display a DataFrame from the following dictionary data and labels:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin',
'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
WORKSHEET
labels = ['I’, ‘II’, ‘III’, ‘IV’, ‘V’, ‘VI’, ‘VII’, ‘VIII’, ‘IX’, ‘X’]

In [1]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['I','II','III','IV','V','VI','VII','VIII','IX','X']
df = pd.DataFrame(exam_data , index=labels)
print(df)

           name  score  attempts qualify
I     Anastasia   12.5         1     yes
II         Dima    9.0         3      no
III   Katherine   16.5         2     yes
IV        James    NaN         3      no
V         Emily    9.0         2      no
VI      Michael   20.0         3     yes
VII     Matthew   14.5         1     yes
VIII      Laura    NaN         1      no
IX        Kevin    8.0         2      no
X         Jonas   19.0         1     yes

12. Write a Pandas program to get the first 5 rows of the DataFrame created in Q11

In [3]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['I','II','III','IV','V','VI','VII','VIII','IX','X']

df = pd.DataFrame(exam_data , index=labels)
print("First 5 rows of the data frame:")
print(df.iloc[:5])

First 5 rows of the data frame:
          name  score  attempts qualify
I    Anastasia   12.5         1     yes
II        Dima    9.0         3      no
III  Katherine   16.5         2     yes
IV       James    NaN         3      no
V        Emily    9.0         2      no

13. Write a Pandas program to select the 'name' and 'score' columns of the DataFrame created in Q11.

In [4]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['I','II','III','IV','V','VI','VII','VIII','IX','X']

df = pd.DataFrame(exam_data , index=labels)
print("Select specific columns:")
print(df[['name', 'score']])

Select specific columns:
           name  score
I     Anastasia   12.5
II         Dima    9.0
III   Katherine   16.5
IV        James    NaN
V         Emily    9.0
VI      Michael   20.0
VII     Matthew   14.5
VIII      Laura    NaN
IX        Kevin    8.0
X         Jonas   19.0

14. Write a Pandas program to select 'name' and 'score' columns in row indexes 3, 5, 6, 8 from the DataFrame created in Q11

In [5]:
import pandas as pd
import numpy as np

exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['I','II','III','IV','V','VI','VII','VIII','IX','X']

df = pd.DataFrame(exam_data , index=labels)
print("Select specific columns and rows:")
print(df.iloc[[3, 5, 6,8], [1, 3]])

Select specific columns and rows:
     score qualify
IV     NaN      no
VI    20.0     yes
VII   14.5     yes
IX     8.0      no

15. Write a Pandas program to select the rows where the score is between 15 and 20 (inclusive) from the DataFrame created in Q11.

In [6]:
import pandas as pd
import numpy as np
exam_data  = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['I','II','III','IV','V','VI','VII','VIII','IX','X']

df = pd.DataFrame(exam_data , index=labels)
print("Rows where score between 15 and 20 (inclusive):")
print(df[df['score'].between(15, 20)])

Rows where score between 15 and 20 (inclusive):
          name  score  attempts qualify
III  Katherine   16.5         2     yes
VI     Michael   20.0         3     yes
X        Jonas   19.0         1     yes